/*----- universal styles -----*/

:root {
  background-color: #ded2b9;
}

body {
  margin: 0;
  font-family: Times, serif;
  font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

/* Format headers */
h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.8rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
  line-height: 1.1;
}

pre {
  font-family: inherit;
  font-size: 1.3rem;
  font-style: italic;
  margin: 0;
}

address {
  font-size: 1.1rem;
}

/* custom scroll bar handle */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(22, 75%, 22%);;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(22, 75%, 22%);;
}


#main-container-intro-grammar {
  font-family: Times, serif;
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5;

  background-color: #ded2b9;
  padding: 10px;
  position:relative;
  /* width:100vw; */
  /*height: 100vh;*/

  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

#main-container-intro-grammar td, th, p {
font-family: Times, serif;
font-size: 1.2rem;
color: #333;
line-height: 1.5;
}

#main-container-intro-grammar ol, ul, li {
  font-size: 1.2rem;
  /*padding: .5rem;*/
}

#main-container-intro-grammar a {
color: #bc561b;
text-decoration: none;
}

#main-container-intro-grammar a:hover, a:focus {
color: #645431;
text-decoration: underline;
}

#main-container-intro-grammar a img{
border: none 0 #fff;
}

#main-container-intro-grammar article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

#main-container-intro-grammar img, embed, object, video {
  max-width: 100%;
}

#main-container-intro-grammar table, th, td {
  border: 1px solid black;
}

table tr:first-child{
  background-color: hsl(41, 36%, 10%)
}

tr:nth-child(even) {
  background-color: hsl(41, 36%, 80%)
}

/*----- Header -----*/
.title-ipg {
  font-size: 1.5rem;
  text-align: center;
}


/*----- Introduction Page -----*/
#intro-text-ipg {
  display: flex;
  flex-direction: column;
}

#introduction-ipg {
  margin: 1rem;
  font-size: 1.3rem;

}

.lg-pali-center-ipg {
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
  /*font-weight: bold;*/
  font-style: italic;
}

.pali-italic-center-ipg {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

/* English translation and pali words with italic/reg mix */
.english-translation-center-ipg {
  text-align: center;
  font-size: 1.2rem;
}

.byline-container-ipg {
  /* margin: 0 4rem; */
  align-self: flex-end;
}

.byline-ipg {
  font-size: .8rem;
  /* margin-right: 20rem; */
}

.aspiration-ipg {
text-align: center;
font-size: 1rem;
margin: 2rem 1rem;
}

/*----- Table of Contents -----*/
.paragraph-1-ipg {
font-size: 1.2rem;
margin: 1rem 2rem;
}

.paragraph-2-ipg {
  font-weight: bold;
  margin: 1rem 2rem;
}

/*.paragraph-3 {*/
  /*margin-left: 4rem;*/
/*}*/

/*.toc-container-ipg {*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-wrap: wrap;*/
/*}*/

.table-of-content-ipg {
  margin: 1rem;
  list-style-type: circle;
  align-self: center;
}


.nested-list-ipg {
  /*list-style-type: none;*/
  margin-left: 1rem;
  /*color: #fc8800;*/
}


/*----- Paragraph Text Styles -----*/
.heading-2-ipg {
  margin-top: .5rem;
  font-size: 1.5rem;
  text-align: center;
  align-self: center;
}

.heading-3-ipg {
  margin-top: .5rem;
  font-size: 1.3rem;
  text-align: center;
  align-self: center;
}

.subheading-1-ipg {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 1rem .5rem;
}

.paragraph-2-ipg {

}

.english-translation-center-1-ipg {
  text-align: center;
  font-size: 1.2rem;
  align-self: center;

}

.italic-w-ipg {
font-style: italic;
}

/* spacing for pali words mixed with reg and italic*/
.italic-w-ipg-1 {
font-style: italic;
  letter-spacing: 1px;
}

.bold-w-ipg {
  font-weight: bold;
}

.spacing-1-ipg {
  text-align: right;
  padding-left: 7rem;
}

.para-list-ipg {
list-style-type: disc;
/*padding: 0 5rem;*/
  margin: 0 2rem;
}

div.responsive-table-ipg {
  max-width: 95%;
  overflow-x: auto;
  margin: 0 auto;
  transform: rotateX(180deg);
}

.table-regular-ipg {
  margin: 1rem;
  text-align: left;
  border-spacing: 2px;
  background-color: rgba(51, 51, 51, 0.38); 
  align-self: center;
  transform: rotateX(180deg);
}

table.table-regular-ipg th, td {
  background-color: rgba(255, 255, 255, 0.87);
}


.width-table-1 {
  /*width: 100%;*/
}

.width-table-2 {
  /*width: 66%;*/
}

.lists-italic-ipg {

}

/* regular font style */
.list-chart-1-ipg {
  padding: 0 1rem;
}

/* italic font style */
.list-chart-2-ipg {
  padding: 0 .5rem;
  font-style: italic;
}

/* when applied to <th> bold - centered */
.list-chart-3-ipg {
  padding: 1rem;
  text-align: left;
}

/* when applied to <th> bold - centered */
.list-chart-4-ipg {
  padding: 1rem 0;
  text-align: center;
}

/* regular and italic mix in word -- adds letter spacing */
.list-chart-5-ipg {
  padding: 1rem;
  letter-spacing: 1px;
}

dl {
  margin: 0 0 0 5%;
}

dt {
  font-weight: bold;
}


.vowel-list-ipg tr td {
  padding: 0 1rem;
  text-align: center;
}

.vowel-list-2-ipg {
  text-align: left;
}

.vowel-list-2-ipg tr td {
  padding: 0 1rem;
  text-align: left;
}

.paragraph-chpt3-ipg {
  margin: 1rem;
  /*padding-left: 16rem;*/
}

.example-1-ipg {
  padding-top: 0;
  /*padding-left: 15rem;*/
  margin-left: 2rem;
}


.reduce-mar-top-ipg {
  margin-top: 0;
}

.reduce-mar-bottom-ipg {
  margin-bottom: .2rem;
}

.increase-mar-top-ipg {
  margin-top: 2rem;
}

.add-left-margin-ipg {
  margin-left: 3rem;
}

/*----- Paragraph Design Styles -----*/
.section-divider-intro-ipg {
/* border-bottom: 2px solid grey; */
  display: flex;
  /*justify-content: start;*/
  flex-direction: column;
  /*align-items: center;*/
  flex-wrap: wrap;
  padding: 1rem 2rem;
}


.section-divider-ipg {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

/*----- Footnotes -----*/
.notes-ipg {
  color: #627f9d;
}

.footnotes-container-ipg {
  margin: auto;
  border-top: 2px dashed #8e8e8e;
  list-style-type: none;
  color: #333333;
  padding: 1rem;
}

.footnote-heading-ipg {
  margin: 0;
}

.footnotes-ipg {
  padding: .5rem 1rem;

}

.section-divider-ipg .footnotes-container-ipg :target {
  background: rgba(16, 110, 70, 0.35);
  border-radius: 5px;
  box-shadow: 2px 3px grey;
  font-size: 1.2rem;
}

.section-divider-ipg :target {
  background: rgba(142, 142, 142, 0.35);
  padding: .3rem;
  /*box-shadow: 2px 3px grey;*/
}
.backarrow-ipg :target {
  color: white;
}

.sup-spacing-ipg {
  padding: 0 1px;
}


/*----- Footer -----*/
.footer-styles-ipg {
text-align: center;
}


/* note for table of content https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217 */
